.justTable {
    text-align: center;
    font-size: 25px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 8px;
  }
  
  .justTableHead {
    width: 100%;
    border: 1px solid #000;
    border-radius: 8px;
    background: gray
  }